force-app/main/default/flows/Create_a_record_and_super_cool_demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AddAccountToCollection</name>
        <label>AddAccountToCollection</label>
        <locationX>1204</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAccountVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddAccountToCollection_0</name>
        <label>AddAccountToCollection</label>
        <locationX>1250</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAccountVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_DML</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddContactToCollection</name>
        <label>AddContactToCollection</label>
        <locationX>1769</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Another_Contac_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddContactToCollection_0</name>
        <label>AddContactToCollection</label>
        <locationX>1043</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>ContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Another_Contac_Decision_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Account to Variable for creation.</description>
        <name>Assign_Account_To_Variable</name>
        <label>Assign Account to Variable</label>
        <locationX>1044</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>SingleAccountVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAccountToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Account to Variable for creation.</description>
        <name>Assign_Account_To_Variable_0</name>
        <label>Assign Account to Variable</label>
        <locationX>1143</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>SingleAccountVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAccountToCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Contact to variable for creation.</description>
        <name>Assign_Contact_to_variable</name>
        <label>Assign Contact to variable</label>
        <locationX>1630</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>SingleContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Number_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContactToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Contact to variable for creation.</description>
        <name>Assign_Contact_to_variable_0</name>
        <label>Assign Contact to variable</label>
        <locationX>886</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>SingleContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Number_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContactToCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountID</name>
        <label>AssignAccountID</label>
        <locationX>1248</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>SingleContactLoopForAccountID.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleAccountVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignContactCollectionWithAccountID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactCollectionWithAccountID</name>
        <label>AssignContactCollectionWithAccountID</label>
        <locationX>1419</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>ContactCollectionWithAccountID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContactLoopForAccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_ermm_Ye</name>
        <label>Reset ermm_Ye</label>
        <locationX>327</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>ermm_YeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Where_shall_we_start</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>YesCombo</name>
        <choiceText>Yes!</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Criteria</name>
        <label>Check Criteria</label>
        <locationX>611</locationX>
        <locationY>896</locationY>
        <defaultConnector>
            <targetReference>Wrong_Password</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_Password_ad_Excitement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Password_please</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>@JFoxUK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SliderValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cool_Stuff</targetReference>
            </connector>
            <label>Correct Password ad Excitement</label>
        </rules>
        <rules>
            <name>Wrong_PasswordValue_NotExcited</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Password_please</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>@JFoxUK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SliderValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wrong_Password</targetReference>
            </connector>
            <label>Wrong Password or Not Excited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Another_Contac_Decision</name>
        <label>Create Another Contact?</label>
        <locationX>1616</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Create_Account_DML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Contact_Account_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Another_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Contact_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Another_Contac_Decision_0</name>
        <label>Create Another Contact?</label>
        <locationX>1037</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Create_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Contact_Contact_Path_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Another_Contact_ContactPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Contact_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the user wish to create a Contact?</description>
        <name>Create_Contact</name>
        <label>Create Contact?</label>
        <locationX>1327</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Create_Account_DML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_a_Contact_Via_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Contact_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>What did the user choose?</description>
        <name>CreationDecision</name>
        <label>CreationDecision</label>
        <locationX>810</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_a_Contact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreationChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_they_want_to_celebrate</name>
        <label>Did they want to celebrate?</label>
        <locationX>1404</locationX>
        <locationY>897</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCelebrate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shall_we_celebrate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cool_Stuff</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_wants_to_see_cool_stuff</name>
        <label>User wants to see cool stuff?</label>
        <locationX>613</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>CreationDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Record</defaultConnectorLabel>
        <rules>
            <name>See_Cool_Stuff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ermm_Ye</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Criteria</targetReference>
            </connector>
            <label>See Cool Stuff</label>
        </rules>
    </decisions>
    <description>Create a record and super cool demo</description>
    <dynamicChoiceSets>
        <description>Salutation choices on Contact</description>
        <name>SalutationChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create a record and super cool demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a record and super cool demo</label>
    <loops>
        <description>Loop over contacts to add Account ID</description>
        <name>Loop_Over_Contacts</name>
        <label>Loop Over Contacts</label>
        <locationX>1336</locationX>
        <locationY>505</locationY>
        <assignNextValueToReference>SingleContactLoopForAccountID</assignNextValueToReference>
        <collectionReference>ContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAccountID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contact_DML</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_DML</name>
        <label>Create Account</label>
        <locationX>1336</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Loop_Over_Contacts</targetReference>
        </connector>
        <inputReference>SingleAccountVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_DML</name>
        <label>Create Contact</label>
        <locationX>1636</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Successfully_Created</targetReference>
        </connector>
        <inputReference>ContactCollectionWithAccountID</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Cool_Stuff</name>
        <label>Cool Stuff</label>
        <locationX>1164</locationX>
        <locationY>896</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>YTPlayer</name>
            <extensionName>vfv:YoutubePlayer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>center</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>youtube_id</name>
                <value>
                    <stringValue>P6vxhOXuW28</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TrailblazerBand</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>TrailblazerBandGIF</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>500px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FileViewerSuperJonny</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <stringValue>0694K000000rHDZQA2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(253, 0, 0);&quot;&gt;You&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(250, 225, 4);&quot;&gt;can&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(136, 255, 0);&quot;&gt;have&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 211, 253);&quot;&gt;text&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(109, 5, 253);&quot;&gt;of&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 0, 225);&quot;&gt;all&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(253, 3, 46);&quot;&gt;colours&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;....&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Of &lt;span style=&quot;font-size: 18px;&quot;&gt;all&lt;/span&gt; &lt;span style=&quot;font-size: 28px;&quot;&gt;sizes&lt;/span&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;....&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Of&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;i style=&quot;font-size: 18px;&quot;&gt;all&lt;/i&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;u style=&quot;font-size: 18px;&quot;&gt;decorations&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Even&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Different&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Justifications&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Bullet&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Points&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Ask?&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;img src=&quot;https://jfoxuk-dev-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/download/0684K000000rIS2?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Last but not least.. a link?! Where does &lt;/span&gt;&lt;a href=&quot;https://www.youtube.com/JonathanFoxSFDC&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;THIS&lt;/a&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; go?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Need_a_Date_OOTB_Date_Capture</name>
            <dataType>Date</dataType>
            <fieldText>Need a Date? OOTB Date Capture</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to capture Contact Fields</description>
        <name>Create_a_Contact_0</name>
        <label>Create a Contact - Primary Contact</label>
        <locationX>1494</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_to_variable</targetReference>
        </connector>
        <fields>
            <name>Contact_Header_0</name>
            <fieldText>&lt;p&gt;Please enter all fields if known!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feel free to pause the flow to go away and capture the data if you don&apos;t have it all right now.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactNane_0</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutationOptions</name>
                <value>
                    <elementReference>SalutationChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,middleName,lastName,salutation</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InformalName</assignToReference>
                <name>informalName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MiddleName</assignToReference>
                <name>middleName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Salutation</assignToReference>
                <name>salutationOptions</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Mobile_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Mobile_Number_Text</elementReference>
            </defaultValue>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;11 digit mobile number without the region code such as (+44) please!!&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Mobile_Number_Text})&gt;11 || LEN({!Mobile_Number_Text})&lt;11</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Create_Another_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Another Contact?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Fields required for Contact creation.&lt;/p&gt;</helpText>
        <pausedText>&lt;p&gt;This capture form is paused!&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to capture Contact Fields</description>
        <name>Create_a_Contact_0_0</name>
        <label>Create a Contact - Primary Contact</label>
        <locationX>886</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_to_variable_0</targetReference>
        </connector>
        <fields>
            <name>Contact_Header_0_0</name>
            <fieldText>&lt;p&gt;Please enter all fields if known!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feel free to pause the flow to go away and capture the data if you don&apos;t have it all right now.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactNane_0_0</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutationOptions</name>
                <value>
                    <elementReference>SalutationChoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,middleName,lastName,salutation</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InformalName</assignToReference>
                <name>informalName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MiddleName</assignToReference>
                <name>middleName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Salutation</assignToReference>
                <name>salutationOptions</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Mobile_Number_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Mobile_Number_Text</elementReference>
            </defaultValue>
            <fieldText>Mobile Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;11 digit mobile number without the region code such as (+44) please!!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Mobile_Number_Text})&gt;11 || LEN({!Mobile_Number_Text})&lt;11</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Create_Another_Contact_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Create_Another_Contact_ContactPath</elementReference>
            </defaultValue>
            <fieldText>Create Another Contact?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Fields required for Contact creation.&lt;/p&gt;</helpText>
        <pausedText>&lt;p&gt;This capture form is paused!&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Create an Account screen</description>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>894</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Account_To_Variable</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountName</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_a_Contact_Via_Account</name>
            <dataType>Boolean</dataType>
            <fieldText>Create a Contact?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Create an Account related to your previous created Contact&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Create an Account screen</description>
        <name>Create_Account_0</name>
        <label>Create Account</label>
        <locationX>1043</locationX>
        <locationY>287</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Account_To_Variable_0</targetReference>
        </connector>
        <fields>
            <name>Account_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountName</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Create an Account related to your previous created Contact&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Created</name>
        <label>Successfully Created Records!</label>
        <locationX>1636</locationX>
        <locationY>895</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_they_want_to_celebrate</targetReference>
        </connector>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Notes or Other Files?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SingleAccountVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png,.jpeg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Keep this flow going.. add a file!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SingleAccountVariable.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Shall_we_celebrate</name>
            <dataType>Boolean</dataType>
            <fieldText>Shall we celebrate?!</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>appyCelebrateGIF</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>appyCelebrateGIF</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Shall_we_celebrate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_is_a_flow</name>
        <label>What is a flow?</label>
        <locationX>190</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Where_shall_we_start</targetReference>
        </connector>
        <fields>
            <name>iFrame</name>
            <extensionName>c:iFrameForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Where_shall_we_start</name>
        <label>Where shall we start?!</label>
        <locationX>326</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_wants_to_see_cool_stuff</targetReference>
        </connector>
        <fields>
            <name>Demo</name>
            <fieldText>&lt;p&gt;Demo Path toggle. Create Account and/or Contact.... boring.....&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreationToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose a record to create</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CreationChoice</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CoolStuff</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Wanna see some cool stuff?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ermm_Ye</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ermm_YeValue</elementReference>
            </defaultValue>
            <fieldText>ermm Ye!</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>superExcited</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How bad do you wanna see this cool stuff?!?!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SliderValue</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ermm_Ye</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Password_please</name>
            <defaultValue>
                <elementReference>PasswordValue</elementReference>
            </defaultValue>
            <fieldText>Password please!!</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ermm_Ye</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrong_Password</name>
        <label>Wrong Password</label>
        <locationX>326</locationX>
        <locationY>471</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_ermm_Ye</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 48px; color: rgb(255, 0, 0);&quot;&gt;ERROR!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(37, 255, 12); font-size: 28px;&quot;&gt;&lt;i&gt;BE MORE EXCITED OR GET THE PASSWORD RIGHT!!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Need_a_sneaky_hint</name>
            <dataType>Boolean</dataType>
            <fieldText>Need a sneaky hint?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PasswordHint</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;The password is the Twitter handle of the coolest person ever!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Need_a_sneaky_hint</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>What_is_a_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CelebrateVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CelebrateYesNo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores all created Contacts ready for insert.</description>
        <name>ContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactCollectionWithAccountID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Create_Another_Contact_ContactPath</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>First choice on record creation.</description>
        <name>CreationChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ermm_YeValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact first name</description>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Informal Name on Contact</description>
        <name>InformalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Last Name of Contact</description>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Middle Name of Contact</description>
        <name>MiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_Number_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PasswordValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact&apos;s Salutation</description>
        <name>Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleAccountVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Stores single Contact fields before adding into collection.</description>
        <name>SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SingleContactLoopForAccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SliderValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
